{:db {:host #profile {:development "127.0.0.1"
                      :production "rethink"}
      :port 28015
      :db-name "test"}
 :aws #profile {:development {:endpoint "eu-west-1"
                              :profile "espdig"}
                :production {:endpoint "eu-west-1"
                             :aws-access-key #env AWS_ACCESS_KEY
                             :aws-secret-key #env AWS_SECRET_KEY}}
 :media {:tbl-name "media"
         :s3-bucket "espdig-m4a"
         :s3-url "https://s3-eu-west-1.amazonaws.com"}
 :json {:filename "data.json"
        :s3-bucket "www.espop.net"}
 :log {:level #profile {:development :debug
                        :production :info}}
 :youtube-feeds
 [{:feed/channel   "Thooorin"
   :feed/rss       "https://www.youtube.com/feeds/videos.xml?channel_id=UCfeeUuW7edMxF3M_cyxGT8Q"
   :feed/title-rgx [".*"]}
  {:feed/channel   "Drop The Bomb TV"
   :feed/rss       "https://www.youtube.com/feeds/videos.xml?channel_id=UC-SmMElbXYS91yuDR1N0RIg"
   :feed/title-rgx [".*"]}
  {:feed/channel   "Richard Lewis"
   :feed/rss      "https://www.youtube.com/feeds/videos.xml?channel_id=UCEOQ9pSmMEIqfhtCDa2JORw"
   :feed/title-rgx [".*"]}
  {:feed/channel   "Monte Cristo"
   :feed/rss      "https://www.youtube.com/feeds/videos.xml?channel_id=UCZ26xCMrmYnUWYFtZr7cWCg"
   :feed/title-rgx [".*"]}
  {:feed/channel   "Insight on Esports"
   :feed/rss      "https://www.youtube.com/feeds/videos.xml?channel_id=UC4AGeYoOM9lRH6-L7wNFgTQ"
   :feed/title-rgx [".*"]}
  {:feed/channel   "Thorin's Side"
   :feed/rss      "https://www.youtube.com/feeds/videos.xml?channel_id=UC4rma8fFU0UmxiiVzH8RHDA"
   :feed/title-rgx [".*"]}
  {:feed/channel   "Ginx TV: The Bridge'"
   :feed/rss      "https://www.youtube.com/feeds/videos.xml?channel_id=UCKw1Zh2KWkmgOC4FhIH1QOw"
   :feed/title-rgx [".*The Bridge.*"]}]}
